body {
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    background-color: black;
    height: 50px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.header-logo {
    display: flex;
}
.header-logo-link {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
.header__nav-link {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.header-icon {
    display: flex;
    padding-left: 100px;
    gap: 5px;
}
.header-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header-btn {
    padding-left: 30px;
    padding-top: 6px;
}
.btn {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid #fff;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    background: none;
}
.hero {
    background: url(/images/hero.png) 0 0 / cover;
    height: 1000px;
}
.hero-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 300px;
}
.hero-pretitle {
    color: #fff;
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.hero-title {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 124px;
}
.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    color: #ed4c5c;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 6px;
    background: #fff;
    width: 160px;
    height: 50px;
}
.heading-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;
}
.heading-title {
    color: #000;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 445px;
    height: 107px;
}
.heading-text {
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 445px;
    height: 115px;
}
.btn-second {
    border: none;
    background: #fff;
    color: #ed4c5c;
    text-align: justify;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
@media screen and (max-width: 600px) {
    .heading-info {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 590px) {
    .hero-pretitle {
        font-size: 30px;
    }
    .hero-title {
        font-size: 15px;
    }
}
@media screen and (max-width: 700px) {
    .header__nav {
        display: none;
    }
    .header-icon {
        display: none;
    }
}
