body {
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header {
    background: black;
    height: 50px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.header-logo {
    display: flex;
}
.header-logo-link {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.header__nav-link {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.header-icon {
    display: flex;
    padding-left: 100px;
    gap: 5px;
}
.header-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header-btn {
    padding-left: 30px;
    padding-top: 6px;
}
.btn {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid #fff;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    background: none;
}
@media screen and (max-width: 700px) {
    .header__nav {
        display: none;
    }
    .header-icon {
        display: none;
    }
}
